/* 
#work {
    top: 10;
 background: #ffffff;
  padding-top: 12rem;
  padding-bottom: 15rem;
}
 */

/* #wave {
    position: absolute;
    bottom: 10%;
    left: -250vw;
    width: 600vw;
    height: 600vw;
    background: rgba(0, 0, 0, .375);
    border-radius: 48% 52% 52% 48% / 48% 52% 48% 52%;
   
} */
#work {
	position: relative;
	width: 100%;
	height: 80vh;
	display: flex;
	align-items: center;
	overflow: hidden;
    background-image: linear-gradient(to right, #293165,#293165,#49355f,#6f3958,#993f4f,#e24742,#ff4b3c);
}
#work .gallery {
	position: relative;
	z-index: 1;
	margin: 0 auto;
	max-width: 900px;
	text-align: center;
}
#work:before {
	 content: '';
    overflow: hidden;
    position: absolute;
    bottom: 12%;
    left: -250vw;
    width: 600vw;
    height: 600vw;
    background: white;
    border-radius: 48% 52% 52% 48% / 48% 52% 48% 52%;
    animation: wave 9s ease-in-out infinite;
    animation-delay: -3s
     
}
